# Ignore all files without an extension except for some specific ones.
*
!/**/
!*.*
!Makefile
!README

# Ignore specific file types.
*.a
*.aux
*.d
*.dis
*.elf
*.log
*.map
*.o
*.pdf
*.rdx
*.secret
*.tbl
*.toc

# Ignore specific directories.
/tables/output
